spring:
  application:
    name: hotel-booking-system

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:4444/db_hotel_booking}
    username: ${SPRING_DATASOURCE_USERNAME:hotel_booking}
    password: ${SPRING_DATASOURCE_PASSWORD:hotel_booking123}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
